.circuitos {

  &__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-top: 2rem;
  }

  &__destino {
    width: 25rem;
    height: 15rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: .1rem 0.3rem 1rem black;
    position: relative;
    transition: all .1s;

    &--uaq {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }
  }

  &__link {
    text-align: center;
  }

  &__imagen {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: bottom;
  }

  &__nombre {
    display: inline-block;
    font-size: 1.8rem;
    color: white;
    text-shadow: .1rem .1rem .3rem black;
    position: absolute;
    opacity: 1;
    transition: all .2s;

    &--calafate {
      top: 6rem;
      left: 2.7rem;
    }

    &--paine {
      top: 5rem;
      left: -.2rem;
    }

    &--ushuaia {
      top: 5rem;
      left: 3rem;
    }

    &--cruce {
      top: 5rem;
      left: 5.5rem;
    }

    &--purmamarca {
      top: 5rem;
      left: 2.2rem;
    }

    &--noa {
      top: 6rem;
      left: 5rem;
    }

    &--uaq {
      top: 6rem;
      left: 0;
    }
  }

  &__destino:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: .3rem 0.6rem 1.2rem black;
    text-shadow: .3rem 0.5rem 1.1rem black;
    z-index: 10;
  }

  &__destino:active {
    cursor: pointer;
    transform: scale(1.15);
    box-shadow: .3rem 0.6rem 1.2rem black;
  }

  &__destino:hover > a > &__imagen {
    filter: blur(1px) brightness(105%) saturate(110%);
  }
}