.header {
  width: 100%;
  text-align: center;

  &__logo {
    margin: 0 auto;
    width: 25vw;
  }

  &__titulo {
    font-size: 3.5rem;
    width: 50rem;
    margin: 1.5rem auto 5rem auto;
    padding-bottom: 1.5rem;
    letter-spacing: .5rem;
    border-bottom: 1px solid white;
    text-shadow: .1rem .1rem .1rem black;
  }
}