* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background: linear-gradient(to right, #00034f 0%, #030975 41%, #060fb9 100%); }

.circuito {
  position: relative;
  display: grid;
  margin: 3rem 7rem 5rem 7rem;
  font-size: 1.3rem;
  grid-template-rows: repeat(10, minmax(min-content, max-content));
  grid-template-columns: 1fr 1fr 1fr; }
  .circuito__back {
    font-size: 2.5rem;
    font-weight: 100;
    position: absolute;
    top: .8rem;
    left: 0; }
  .circuito__back:link, .circuito__back:visited {
    color: white; }
  .circuito__logo {
    width: 15rem;
    box-shadow: .1rem .1rem .2rem black; }
  .circuito__header {
    margin-bottom: 3rem;
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
  .circuito__titulo {
    letter-spacing: .2rem;
    font-size: 2.5rem;
    text-shadow: .2rem .2rem .2rem black;
    margin-bottom: 1.2rem; }
  .circuito__noches {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .circuito__incluye {
    grid-row: 2 / 3;
    grid-column: 1 / 3; }
    .circuito__incluye--titulo {
      display: inline-block;
      padding-bottom: .6rem;
      border-bottom: 1px solid white;
      margin-bottom: 1rem; }
    .circuito__incluye--servicio {
      margin-top: 1rem; }
    .circuito__incluye--logo {
      font-size: 1.8rem;
      width: 3rem;
      padding-right: 1rem; }
  .circuito__noincluye {
    font-size: 1rem; }
  .circuito__descripcion {
    font-weight: 100;
    line-height: 2.3rem;
    margin: 4rem 1rem 0 0;
    padding-right: 3rem;
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
    .circuito__descripcion-traslados {
      font-weight: 100;
      line-height: 2.3rem;
      margin: 4rem 1rem 0 0;
      padding-right: 3rem;
      grid-row: 2 / -1;
      grid-column: 1 / 3; }
    .circuito__descripcion-lista {
      font-weight: 100;
      line-height: 2.3rem;
      margin: 4rem 1rem 0 0;
      padding-right: 3rem;
      grid-row: 2 / -1;
      grid-column: 1 / 3; }
    .circuito__descripcion-item {
      margin-top: 1.7rem; }
  .circuito__opcionales {
    margin-top: 5rem;
    grid-row: 4 / 5;
    grid-column: 1 / 3; }
    .circuito__opcionales--titulo {
      display: inline-block;
      padding-bottom: .6rem;
      border-bottom: 1px solid white;
      margin-bottom: 1.2rem; }
    .circuito__opcionales--destino {
      letter-spacing: .2rem;
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-bottom: 1rem; }
    .circuito__opcionales--item {
      list-style: none;
      padding: .5rem; }
      .circuito__opcionales--item::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: red;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em;
        /* Also needed for space (tweak if needed) */ }
  .circuito__imagenes {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / -1;
    row-gap: 2rem;
    grid-template-rows: repeat(3, minmax(10rem, auto));
    grid-template-columns: 1fr; }
  .circuito__imagen {
    width: 33rem;
    justify-items: right;
    box-shadow: .1rem .1rem 1rem black;
    border-radius: 5px;
    transition: all .2s; }
    .circuito__imagen--1 {
      justify-self: right; }
    .circuito__imagen--2 {
      justify-self: right; }
    .circuito__imagen--3 {
      justify-self: right; }
    .circuito__imagen--4 {
      justify-self: right; }
  .circuito__back:hover {
    transform: scale(1.1);
    text-shadow: .1rem .1rem 1rem black; }
  .circuito__video {
    grid-row: 8 / -1;
    grid-column: 1 / 2; }

.videos {
  text-align: center;
  margin-top: 6rem;
  border-radius: 5px; }

.circuitos__container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  margin-top: 2rem; }

.circuitos__destino {
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: .1rem 0.3rem 1rem black;
  position: relative;
  transition: all .1s; }
  .circuitos__destino--uaq {
    grid-row: 3 / 4;
    grid-column: 3 / 4; }

.circuitos__link {
  text-align: center; }

.circuitos__imagen {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: bottom; }

.circuitos__nombre {
  display: inline-block;
  font-size: 1.8rem;
  color: white;
  text-shadow: .1rem .1rem .3rem black;
  position: absolute;
  opacity: 1;
  transition: all .2s; }
  .circuitos__nombre--calafate {
    top: 6rem;
    left: 2.7rem; }
  .circuitos__nombre--paine {
    top: 5rem;
    left: -.2rem; }
  .circuitos__nombre--ushuaia {
    top: 5rem;
    left: 3rem; }
  .circuitos__nombre--cruce {
    top: 5rem;
    left: 5.5rem; }
  .circuitos__nombre--purmamarca {
    top: 5rem;
    left: 2.2rem; }
  .circuitos__nombre--noa {
    top: 6rem;
    left: 5rem; }
  .circuitos__nombre--uaq {
    top: 6rem;
    left: 0; }
  .circuitos__nombre--brc-vla {
    top: 6rem;
    left: 0; }
  .circuitos__nombre--brc-sma {
    top: 6rem;
    left: 0; }
  .circuitos__nombre--mdz-afa {
    top: 6rem;
    left: 1.5rem; }
  .circuitos__nombre--igr {
    top: 6rem;
    left: 8.5rem; }
  .circuitos__nombre--fte {
    top: 6rem;
    left: 7.5rem; }
  .circuitos__nombre--sla {
    top: 6rem;
    left: 9.5rem; }
  .circuitos__nombre--brc {
    top: 6rem;
    left: 7.5rem; }
  .circuitos__nombre--ush {
    top: 6rem;
    left: 8.5rem; }
  .circuitos__nombre--sma {
    top: 6rem;
    left: 1rem; }
  .circuitos__nombre--vla {
    top: 6rem;
    left: 2.5rem; }
  .circuitos__nombre--pmy {
    top: 6rem;
    left: 4.5rem; }

.circuitos__destino:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: .3rem 0.6rem 1.2rem black;
  text-shadow: .3rem 0.5rem 1.1rem black;
  z-index: 10; }

.circuitos__destino:active {
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: .3rem 0.6rem 1.2rem black; }

.circuitos__destino:hover > a > .circuitos__imagen {
  filter: blur(1px) brightness(105%) saturate(110%); }

.container {
  margin: 1rem 7rem 2rem 7rem; }

.header {
  display: grid;
  width: 100%;
  text-align: center;
  grid-template-columns: 10% 90%; }
  .header__form {
    display: grid;
    width: 100%;
    height: 3.5rem;
    justify-self: left;
    padding-top: 2rem;
    grid-column: 1 / 2; }
    .header__form--select {
      font-size: 1rem;
      width: 80%;
      background-color: transparent;
      border: none;
      color: white; }
    .header__form--option {
      color: black; }
  .header__logo {
    display: inline-block;
    margin: 0 auto;
    width: 35vw;
    transform: translateX(-15%);
    grid-column: 2 / 3; }
  .header__titulo {
    font-size: 2.5rem;
    width: 50rem;
    margin: 1.5rem auto 3rem auto;
    padding-bottom: 1.5rem;
    letter-spacing: .5rem;
    border-bottom: 1px solid white;
    text-shadow: .1rem .1rem .1rem black;
    transform: translateX(-11%);
    grid-column: 2 / 3; }
